{% extends 'layout.html' %}


{% block body %}

<!-- https://github.com/vimalloc/flask-jwt-extended/issues/385 -->
<script type = "text/javascript">
	async function postIndex() {
		res = await makeRequestWithJWT("post", "{{ url_for('generator.post_character') }}") 

		id = res["id"];

		// walkaround
		// https://stackoverflow.com/a/50312867
		location.href = "{{ url_for('generator.get_character', character_id=0)}}"
													.replace("0", `${id}`);
	}
</script>

<div class="jumbotron">
	<div class="text-center">
	  <button name="generate-btn1" class="btn btn-primary btn-lg" onclick="postIndex();" value="generate">Generuj postać</button>
	</div>
  </div>
{% endblock %}
