{% extends 'layout.html' %}

{% block body %}
  <div class="container text-center pb-4">
	<div class="row">
		<div class="col-1 py-2 border"> 
			<b>#</b> 
		</div> 
		<div class="col-2 py-2 border"> 
			<b>Czas utworzenia</b> 
		</div> 
		<div class="col-9 py-2 border"> 
			<b>Imie bohatera</b> 
		</div> 
    </div>
		<div class="col-12"> 
			{% for i, character in characters %}
			<a class="row clickable" 
			   href="/character/{{character.id}}"
			   style="text-decoration:none;"> 
				<div class="col-1 py-2 border"> 
					{{ i+1 }}
				</div> 
				<div class="col-2 py-2 border"> 
					{{ character.timestamp }}
				</div> 
				<div class="col-9 py-2 border"> 
					{{ character.name }}
				</div> 
			</a> 
			{% endfor %}
		</div>
  </div>
{% endblock %}
