{% extends 'layout.html' %}

{% block body %}
  <div class="container text-center pb-4">
	<div class="card shadow-lg ps-4 pe-4 pb-3">
	<div class="card-header">
		<h1 class="fs-4 card-title fw-bold mt-3 mb-3 text-center"> Postacie dla {{ shown_user.name }}</h1>
	</div>
	<div class="row">
		<div class="col-1 py-2 border"> 
			<b>#</b> 
		</div> 
		<div class="col-2 py-2 border"> 
			<b>Czas utworzenia</b> 
		</div> 
		<div class="col-9 py-2 border"> 
			<b>Imie bohatera</b> 
		</div> 
    </div>
		{% for i, character in characters %}
			<div class="col-12"> 
				<a class="row clickable" 
				   href="/character/{{character.id}}"
				   style="text-decoration:none;"> 
					<div class="col-1 py-2 border"> 
						{{ i+1 }}
					</div> 
					<div class="col-2 py-2 border"> 
						{{ character.timestamp }}
					</div> 
					<div class="col-9 py-2 border"> 
						{{ character.name }}
					</div> 
				</a> 
			</div>
		{% endfor %}
	</div>
  </div>
{% endblock %}
