{% extends 'layout.html' %}


{% block body %}

<!-- https://github.com/vimalloc/flask-jwt-extended/issues/385 -->
<!-- move to layout.html -->
<script type = "text/javascript">
	async function postIndex() {
		res = await makeRequestWithJWT("post", "/") 

		id = res["id"];
		location.href = `/character/${id}`;
	}
</script>

<div class="jumbotron">
	<div class="text-center">
	  <button name="generate-btn1" class="btn btn-primary btn-lg" onclick="postIndex();" value="generate">Generuj postać</button>
	</div>
  </div>
{% endblock %}
