<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="../../../../favicon.ico">

    <title>{{ title }}</title>

    <!-- Bootstrap core CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
	<style>
        .clickable:hover { 
            background: #ADD8E6; 
        } 
	</style>

	<script>
		function getCookie(name) {
			const value = `; ${document.cookie}`;
			const parts = value.split(`; ${name}=`);
			if (parts.length === 2) return parts.pop().split(';').shift();
		}

		async function makeRequestWithJWT(method, endpoint) {
			const options = {
			  method: method,
			  headers: {
				'X-CSRF-TOKEN': getCookie('csrf_access_token'),
			  }
			};
			const response = await fetch(endpoint, options);
			const result = await response.json();
			return result;
		}
	</script>
  </head>

  <body>

    {% include 'includes/navbar.html' %}

    <main role="main" class="container">
      <div class="container">
        <div class="starter-template">
          <hr style="padding-top: 50px;">
          {% block body %}
          {% endblock %}
        </div>
      </div>

    </main><!-- /.container -->
  </body>
</html>
